h1 {
  margin: auto;
  text-align: center;
  font-size: 100px;
  font-weight: 40;
}

.gameTextBox {
  margin: auto;
  margin-top: 40px;
  width: 50%;
  border: solid 2px black;
  padding: 20px;
  
}

